@using NeuronExportedDocuments.Resources

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="@MainMessages.rs_Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">@MainMessages.rs_DocumentAdminInfoIdError</h4>
</div>
<div>

    <div class="modal-body">
        <h5><strong>@MainMessages.rs_DocumentAdminInfoIdError</strong></h5>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@MainMessages.rs_Close</button>
    </div>
</div>