@using NeuronExportedDocuments.Resources
@{
    ViewBag.Title = IdentityResources.rs_LoginFailure;
}

@section Scripts {

}
@section Body {
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">@IdentityResources.rs_UnsuccessfulLoginWithService</h3>
}