@using NeuronExportedDocuments.Resources
@{
    ViewBag.Title = IdentityResources.rs_ForgotPasswordConfirmation;
}

@section Scripts {

}
@section Body {
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            @IdentityResources.rs_CheckEmailForPass
        </p>
    </div>
}
