@using NeuronExportedDocuments.Resources
@{
    ViewBag.Title = IdentityResources.rs_ResetPasswordConfirmation;
}

@section Scripts {

}

@section Body {
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            @Html.Raw(string.Format(IdentityResources.rs_ResetPassAndLogIn, Html.Raw(Html.ActionLink(IdentityResources.rs_ClickHereToLogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }))))
        </p>
    </div>
}