@using NeuronExportedDocuments.Resources
@model NeuronExportedDocuments.Models.ViewModels.BlockedViewModel

@{
    ViewBag.Title = MainMessages.rs_GetNeuronDocument;
    Layout = "~/Views/_Layout.cshtml";
}

@section Scripts {
   
}
@section Body {
    <h2>@MainMessages.rs_GetNeuronDocument</h2>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">@MainMessages.rs_Error</span>
        Enter a valid email address
    </div>
    <div class="alert alert-warning" role="alert">
        @Html.Raw(string.Format(MainMessages.rs_BlockedDocumentInfo, Model.ServiceDocumentInfo.PublishId, Model.SupportContact))
    </div>
    @Html.ActionLink(MainMessages.rs_GetNextDocument, "Index")
}