@using NeuronExportedDocuments.Resources
@model NeuronExportedDocuments.Models.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = MainMessages.rs_GetNeuronDocument;
    Layout = "~/Views/_Layout.cshtml";
}

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script type="text/javascript">
        var onloadCallback = function () {
            grecaptcha.render('g-recaptcha', {
                'sitekey': '@Model.RecaptchaSiteKey'
            });
        };
    </script>

}
@section Body {
    <div class="jumbotron">
        <h1>@Html.Raw(Model.HelloMessage)</h1>
        <p>@Html.Raw(Model.HelloDescriptionMessage)</p>
    </div>
    <div id="getter" class="section panel panel-primary">
        @Html.Partial("DocumentGetter", Model.DocumentCredentials)
    </div>
}

