@using NeuronExportedDocuments.Resources
@model NeuronExportedDocuments.Models.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = MainMessages.rs_GetNeuronDocument;
    Layout = "~/Views/_Layout.cshtml";
}

@section Scripts {

}
@section Body {
    <div class="jumbotron">
        <h1>@Model.HelloMessage</h1>
        <p>@Model.HelloDescriptionMessage</p>
    </div>
    <div id="getter" class="section panel panel-primary">
        @Html.Partial("DocumentGetter", Model.DocumentCredentials)
    </div>
}

