@using NeuronExportedDocuments.Resources
@model NeuronExportedDocuments.Models.DocumentCredentials

@{
    ViewBag.Title = MainMessages.rs_GetNeuronDocument;
    Layout = "~/Views/_Layout.cshtml";
}

@section Scripts {

}
@section Body {
    <div class="jumbotron">
        <h1>Hello!</h1>
        <p>To get your document input the document's id and password and press "Get" button.</p>
    </div>
    <div id="getter" class="section panel panel-primary">
        @Html.Partial("DocumentGetter", Model)
    </div>
}

