<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="f:\log.txt">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="logDirectory" value="${basedir}/App_Data/logs/${shortdate}" />
  <targets>
    <target name="consolelog" type="ColoredConsole"
        layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />

    <target name="fileLogTrace" xsi:type="File" fileName="${logDirectory}/trace.log" layout="${date}: ${message} ${stacktrace}"/>
    <target name="fileLogDebug" xsi:type="File" fileName="${logDirectory}/debug.txt" layout="${date}: ${message} ${stacktrace}"/>
    <target name="fileLogInfo" xsi:type="File" fileName="${logDirectory}/info.txt" layout="${date}: ${message} ${stacktrace}" />
    <target name="fileLogErrors" xsi:type="File" fileName="${logDirectory}/errors.txt" layout="${date}: ${message} ${stacktrace}" />
    
    <target name="TcpOutlet" xsi:type="NLogViewer" address="tcp://localhost:4505"/>

    <target name="eventlog" type="EventLog" source="NeuronExportedDocuments" log="Application" machineName="."
        layout="${date}: ${message} ${stacktrace}" />

    <target name="databaselog" type="Database">

        <dbProvider>sqlserver</dbProvider>
        <connectionString>Data Source=crabulik\sqlexpress;Initial Catalog=NeuronExportedDocumentsDb;Integrated Security=True;Pooling=False;</connectionString>

        <commandText>
          insert into NLogErrors ([RecordTime],[Level],[Host],[Type],[Source],[Logger],[Message],[Stacktrace],[AllXml]) values(@time_stamp, @level,@host,@type,@source,@logger,@message,@stacktrace,@allxml);
        </commandText>

        <!--<parameter name="@time_stamp" layout="${utc_date}" /> -->
        <parameter name="@time_stamp" layout="${date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@host" layout="${machinename}" />
        <parameter name="@type" layout="${exception:format=type}" />
        <parameter name="@source" layout="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@stacktrace" layout="${exception:stacktrace}" />
        <parameter name="@allxml" layout="${web_variables}" />

    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Fatal" writeTo="eventlog" />
    <logger name="*" level="Trace" writeTo="fileLogTrace" />
    <logger name="*" level="Debug" writeTo="fileLogDebug" />
    <logger name="*" level="Info" writeTo="fileLogInfo" />
    <logger name="*" minlevel="Warn" writeTo="fileLogErrors" />
    
    <logger name="*" minlevel="Info" writeTo="databaselog" />

    <logger name="*" minlevel="Info" writeTo="consolelog" />

    <logger name="*" minlevel="Info" writeTo="TcpOutlet" />
  </rules>
</nlog>